<MudExpansionPanels MultiExpansion="false">
  <MudExpansionPanel>
    <TitleContent>
      <div class="d-flex">
        <MudIcon Icon="@Icons.Material.Filled.Info" class="mr-3"></MudIcon>
        <MudText>Positions</MudText>
      </div>
    </TitleContent>
    <ChildContent>
      <MudDataGrid
        Items="@Items"
        Hover="true"
        MultiSelection="true"
        Filterable="true"
        FilterMode="DataGridFilterMode.ColumnFilterMenu"
        Hideable="true"
        SortMode="SortMode.Multiple"
        Groupable="true"
        GroupExpanded="true">
        <Columns>
          <PropertyColumn Property="o => o.Time" Title="Time">
            <CellTemplate>
              @($"{context.Item.Time:yyyy-MM-dd HH:mm:ss}")
            </CellTemplate>
          </PropertyColumn>
          <PropertyColumn Property="o => o.Name" Title="Instrument" Grouping GroupBy="new Func<Row, string>(o => o.Group)">
            <GroupTemplate>
              <span>Group: @context.Grouping.Key</span>
            </GroupTemplate>
          </PropertyColumn>
          <PropertyColumn Property="o => o.Size" Title="Size" />
          <PropertyColumn Property="o => o.Side" Title="Side" />
          <PropertyColumn Property="o => o.OpenPrice" Title="Open Price">
            <CellTemplate>
              @($"{context.Item.OpenPrice:0.00}")
            </CellTemplate>
          </PropertyColumn>
          <PropertyColumn Property="o => o.ClosePrice" Title="Close Price">
            <CellTemplate>
              @($"{context.Item.ClosePrice:0.00}")
            </CellTemplate>
          </PropertyColumn>
          <PropertyColumn Property="o => o.Gain" Title="Gain">
            <CellTemplate>
              @($"{context.Item.Gain:0.00}")
            </CellTemplate>
          </PropertyColumn>
        </Columns>
        <PagerContent>
          <MudDataGridPager T="Row" />
        </PagerContent>
      </MudDataGrid>
    </ChildContent>
  </MudExpansionPanel>
</MudExpansionPanels>

