@page "/"

<div class="flex-grow-1 py-6">

  <MudPaper Class="w-100 d-flex mb-6 py-4">

    <MudIconButton Style="@(IsConnection ? "display: none" : "display: block")" Color="Color.Success" Variant="Variant.Outlined" Size="Size.Large" Icon="@Icons.Filled.PlayCircle" Class="ml-4" @onclick="OnConnect"></MudIconButton>
    <MudIconButton Style="@(IsConnection ? "display: block" : "display: none")" Color="Color.Error" Variant="Variant.Outlined" Size="Size.Large" Icon="@Icons.Filled.Cancel" Class="ml-4" @onclick="OnDisconnect"></MudIconButton>

    @if (IsConnection)
    {
      <MudIconButton Style="@(IsSubscription ? "display: none" : "display: block")" Color="Color.Success" Variant="Variant.Outlined" Size="Size.Large" Icon="@Icons.Filled.Loop" Class="ml-4" @onclick="OnSubscribe"></MudIconButton>
      <MudIconButton Style="@(IsSubscription ? "display: block" : "display: none")" Color="Color.Error" Variant="Variant.Outlined" Size="Size.Large" Icon="@Icons.Filled.PauseCircle" Class="ml-4" @onclick="OnUnsubscribe"></MudIconButton>
    }

  </MudPaper>

  <MudExpansionPanels MultiExpansion="true">

    <MudExpansionPanel>
      <TitleContent>
        <div class="d-flex">
          <MudIcon Icon="@Icons.Filled.Info" class="mr-3"></MudIcon>
          <MudText>Charts</MudText>
        </div>
      </TitleContent>
      <ChildContent>
        <ChartsComponent @ref="DataView" />
      </ChildContent>
    </MudExpansionPanel>

    <MudExpansionPanel>
      <TitleContent>
        <div class="d-flex">
          <MudIcon Icon="@Icons.Filled.Info" class="mr-3"></MudIcon>
          <MudText>Orders</MudText>
        </div>
      </TitleContent>
      <ChildContent>
        <OrdersComponent @ref="OrdersView" />
      </ChildContent>
    </MudExpansionPanel>

    <MudExpansionPanel>
      <TitleContent>
        <div class="d-flex">
          <MudIcon Icon="@Icons.Filled.Info" class="mr-3"></MudIcon>
          <MudText>Positions</MudText>
        </div>
      </TitleContent>
      <ChildContent>
        <PositionsComponent @ref="PositionsView" />
      </ChildContent>
    </MudExpansionPanel>

    <MudExpansionPanel>
      <TitleContent>
        <div class="d-flex">
          <MudIcon Icon="@Icons.Filled.Info" class="mr-3"></MudIcon>
          <MudText>Statements</MudText>
          <MudText>
            <a href="#" @onclick:stopPropagation="true" @onclick:preventDefault="true" @onclick="OnOpenStatements" class="updater ml-4">Update</a>
          </MudText>
        </div>
      </TitleContent>
      <ChildContent>
        <StatementsComponent @ref="StatementsView" />
      </ChildContent>
    </MudExpansionPanel>

  </MudExpansionPanels>

</div>
